# OS Files
.DS_Store
Thumbs.db

# Environment (Holds secrest)
*.env

# Data sources (too large for git)
**/*.csv
**/*.xls
**/*.xlsx

# VS code settings
.vscode/

# Log files
*.log

# Specific folders
shared_data/