# OS Files
.DS_Store
Thumbs.db

# Environment (Holds secrest)
*.env

# Data sources (too large for git)
**/*.csv
**/*.xls
**/*.xlsx
**/*.txt

# VS code settings
.vscode/

# Log files
*.log

# Markdown file stuff
*_files/

# Specific folders
shared_data/