# OS Files
.DS_Store
Thumbs.db

# Environment (Holds secrest)
*.env
*.egg-info/

# Data sources (too large for git)
**/*.csv
**/*.xls
**/*.xlsx

# VS code settings
.vscode/

# Log files
*.log

# Markdown file stuff
*_files/
*.html
*.pdf

# Specific folders
shared_data/

# Images
*.png
*.jpeg
*.jpg
*.gif

# py caches
__pycache__/
*.pyc
*.quarto_ipynb